# env
.env
*.env
**/.env
**/*.env

# node
node_modules/
**/node_modules/

# builds
dist/
build/
.cache/
.next/
.out/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.local
